@charset "UTF-8"
/* ==========================================================================
 * HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
 * ==========================================================================

html,
button,
input,
select,
textarea
	color: $base-font-color

body
	font-size: 1em
	line-height: 1.4

::-moz-selection,
::selection
	background: #b3d4fc
	text-shadow: none

hr
	display: block
	height: 1px
	border: 0
	border-top: 1px solid #ccc
	margin: 1em 0
	padding: 0

img
	vertical-align: middle

fieldset
	border: 0
	margin: 0
	padding: 0

textarea
	resize: vertical

.chromeframe
	margin: .2em 0
	background: #ccc
	color: #000
	padding: .2em 0

/* ===== Initializr Styles ==================================================
 * Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
 * ==========================================================================

body
	color: $grayDark
	font: 16px / 26px $font-family-maru-gothic

.wrapper
	width: 90%
	margin: 0 5%

/* ===================
 *  ALL: Orange Theme
 * ===================

a
	color: $black
	text-decoration: none

	&:hover,
	&:focus,
	&:active
		color: $link-color

a,
a img
	+transition(all 0.3s ease 0s)

a:hover
	img
		+opacity(0.8)

.header-container
	border-bottom: 20px solid $base-color-dark

.footer-container,
.sidebar aside
	border-top: 20px solid $base-color-dark

.header-container,
.footer-container,
.sidebar aside
	background: $base-color

/* ================
 *  MOBILE: Header
 * ================

.title
	color: $white

.site-header
	position: relative

	a,
	a img
		+opacity(1.0)

	img
		height: auto
		width: 100%

/* ==============
 *  MOBILE: Menu
 * ==============

// レスポンシブメニュー
@import menu

#mobile-header
	display: block

	a
		background: $base-color-dark
		color: $white
		font-size: 1.75em
		font-weight: bold
		line-height: 1.4em
		padding: 5px 15px

		&:hover
			color: $base-color
			text-decoration: none

#navigation
	display: block
	height: 0
	overflow: hidden

.nav
	ul
		margin: 0
		padding: 0

	a
		display: block
		margin-bottom: 10px
		padding: 15px 0
		text-align: center
		text-decoration: none
		font-weight: bold
		color: white
		background: $base-color-dark

		&:hover,
		&:visited
			color: $white

		&:hover
			text-decoration: underline

/* ==============
 *  MOBILE: Main
 * ==============

.main-container
	padding: 30px 0

.main
	article
		h1
			font-size: 2em

		img
			height: auto
			max-width: 100%

	button,
	input,
	select,
	textarea
		max-width: 100%

// コンテンツエリア
.entry-content
	a
		color: $link-color
		text-decoration: underline

		&:hover,
		&:focus,
		&:active
			color: $link-hover-color

// ページネーション
.pagination
	float: right
	padding: 0 0 15px

	ul
		padding: 0

	li
		display: inline

		a
			color: $white
			text-decoration: none

			&:hover
				color: $white
				text-decoration: none

		&.active a,
		&.disabled
			color: $white
			text-decoration: none

		a
			background: $base-color
			cursor: pointer
			padding: 12px

			&:hover
				background: $base-color-dark
				cursor: pointer
				padding: 12px

		&.active a,
		&.disabled
			background: $base-color-dark
			cursor: pointer
			padding: 12px

		a:hover,
		&.active a
			background-color: $base-color-dark

/* =================
 *  MOBILE: Sidebar
 * =================

.sidebar
	aside
		color: white
		padding: 0 5% 10px

	a
		text-decoration: none
		color: $white

		&:hover
			color: $grayDarker

.widget
	margin: 0 0 30px

.footer-container footer
	color: $white
	padding: 20px 0

/* ==========================================================================
 * Author's custom styles
 * ==========================================================================
