/* ==========================================================================
 * HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
 * ==========================================================================

html,
button,
input,
select,
textarea
	color: $base-font-color

body
	font-size: 1em
	line-height: 1.4

::-moz-selection,
::selection
	background: #b3d4fc
	text-shadow: none

hr
	display: block
	height: 1px
	border: 0
	border-top: 1px solid #ccc
	margin: 1em 0
	padding: 0

img
	vertical-align: middle

fieldset
	border: 0
	margin: 0
	padding: 0

textarea
	resize: vertical

.chromeframe
	margin: .2em 0
	background: #ccc
	color: #000
	padding: .2em 0

/* ===== Initializr Styles ==================================================
 * Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
 * ==========================================================================

body
	font: 16px / 26px $font-family-maru-gothic

.wrapper
	width: 90%
	margin: 0 5%

/* =================
 * WordPress Styles
 * =================

.alignnone
	margin: 5px 20px 20px 0

.aligncenter,
div.aligncenter
	display: block
	margin: 5px auto 5px auto

.alignright
	float: right
	margin: 5px 0 20px 20px

.alignleft
	float: left
	margin: 5px 20px 20px 0

.aligncenter
	display: block
	margin: 5px auto 5px auto

a img
	&.alignright
		float: right
		margin: 5px 0 20px 20px
	&.alignnone
		margin: 5px 20px 20px 0
	&.alignleft
		float: left
		margin: 5px 20px 20px 0
	&.aligncenter
		display: block
		margin-left: auto
		margin-right: auto

.wp-caption
	background: #eee
	border: 1px solid #f0f0f0
	@include box-shadow(0 5px 10px #aaa)
	max-width: 96%
	/* Image does not overflow the content area
	padding: 5px 3px 10px
	text-align: center
	&.alignnone, &.alignleft
		margin: 5px 20px 20px 0
	&.alignright
		margin: 5px 0 20px 20px
	img
		border: 0 none
		height: auto
		margin: 0
		max-width: 98.5%
		padding: 0
		width: auto
	p.wp-caption-text
		font-size: 11px
		line-height: 17px
		margin: 0
		padding: 0 4px 5px

.sticky
	time
		display: none

.gallery-caption
	padding: 0

.bypostauthor
	background-color: $base-color-dark

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail
	max-width: 100%
	height: auto

/* ===================
 *  ALL: Orange Theme
 * ===================

a
	color: $link-color
	text-decoration: none
	&:hover,
	&:visited
		color: $link-color
	&:hover
		text-decoration: underline

a,
a img
	@include transition(all 0.3s ease 0s)

a:hover
	img
		@include opacity(0.8)

.header-container
	border-bottom: 20px solid $base-color-dark

.footer-container,
.sidebar aside
	border-top: 20px solid $base-color-dark

.header-container,
.footer-container,
.sidebar aside
	background: $base-color

.title
	color: white

/* ================
 *  MOBILE: Header
 * ================
.site-header
	a,
	a img
		@include opacity(1.0)
	img
		height: auto
		width: 100%

/* ==============
 *  MOBILE: Menu
 * ==============

.nav
	ul
		margin: 0
		padding: 0
	a
		display: block
		margin-bottom: 10px
		padding: 15px 0
		text-align: center
		text-decoration: none
		font-weight: bold
		color: white
		background: $base-color-dark
		&:hover,
		&:visited
			color: white
		&:hover
			text-decoration: underline

/* ==============
 *  MOBILE: Main
 * ==============

.main-container
	padding: 30px 0

.main
	article
		h1
			font-size: 2em
		img
			height: auto
			max-width: 100%

// for visual editor
.mceContentBody
	padding: 0 20px

.navigation
	a
		display: block
		margin-bottom: 10px
		padding: 15px
		text-align: center
		text-decoration: none
		font-weight: bold
		color: white
		background: $base-color-dark
		&:hover,
		&:visited
			color: white
		&:hover
			text-decoration: underline

/* =================
 *  MOBILE: Sidebar
 * =================

.sidebar
	aside
		color: white
		padding: 0 5% 10px
	a
		text-decoration: none
		color: white
		&:hover,
		&:visited
			color: white
		&:hover
			text-decoration: underline

.widget
	margin: 0 0 30px

.footer-container footer
	color: white
	padding: 20px 0

/* ==========================================================================
 * Author's custom styles
 * ==========================================================================
