// Typography

// Lists
ul
	li

ol
	li

// Blockquotes
blockquote
	background: #f9f9f9
	border-left: 10px solid $grayLighter
	margin: 1.5em 10px
	padding: 0.5em 10px
	quotes: "\201C""\201D""\2018""\2019"

	&:before
		color: $grayLighter
		content: open-quote
		font-size: 4em
		line-height: 0.1em
		margin-right: .25em
		vertical-align: -0.4em

	p
		display: inline

// Quotes
q
	color: $gray
	quotes: "\201C""\201D""\2018""\2019"

	&:before
		color: $grayLight
		content: open-quote
		font-size: 2em
		line-height: .1em
		margin-right: .125em
		vertical-align: -0.4em

	&:after
		content: ""

// web font icon
i,
.icon
	font-family: 'FontAwesome'
	font-style: normal
	speak: none
	font-weight: normal
	font-size: 1em
	-webkit-font-smoothing: antialiased

.icon2x
	font-size: 2em
	line-height: 1.5em

.icon3x
	font-size: 3em
	line-height: 1.5em

// social icon
.fontawesome-facebook,
.fontawesome-facebook-sign
	&:hover
		color: $facebook

.fontawesome-twitter,
.fontawesome-twitter-sign
	&:hover
		color: $twitter

.fontawesome-google-plus,
.fontawesome-google-plus-sign
	&:hover
		color: $google-plus

.fontawesome-rss
	&:hover
		color: $rss

.feedly
	&:hover
		color: $feedly
