/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]-->

/* ===============
 *  ALL: IE Fixes
 * ===============

.ie7 .title
	padding-top: 20px

@media only screen and (min-width: 480px)
	/* ========================
	 * INTERMEDIATE: IE Fixes
	 * ========================
	nav ul li
		display: inline
	.lt-ie9 nav a
		margin: 0 .7%
